@model List<Softox.Models.PlayerRanking>
<div class="col-4">
    <table class="table table-bordered table_player">
        <tr>
            <th>#</th>
            <th>Joueur</th>
            <th>Buts</th>
            <th>Matchs</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Rank</td>
                <td>
                    <img @Html.Raw(@item.Image) />@Html.Raw(item.PlayerName)</td>
                <td>@item.Point</td>
                <td>@item.Day</td>
            </tr>
        }
    </table>
</div>