@{
    Layout = null;
}

@model DataModel.Football.Football

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Football - Romain Parage</title>
    <meta charset="utf-8">
    <meta name="description" content="Football - Romain Parage">
    <meta name="author" content="Romain Parage">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            margin: 20px;
            background-color: black;
        }

        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            height: 140px;
        }

        table {
            background-color: white;
            margin-bottom: 50px !important;
        }

        tr:nth-child(odd) {
            background: #ebebeb;
        }

        td {
            padding: 3px 5px !important;
        }

        .score {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            @Html.Partial("TeamResultTemplate", Model.resultsFrance, new ViewDataDictionary {{"logo", "fr.jpg"}})
            @Html.Partial("TeamRankingTemplate", Model.teamRankingFrance)
            @Html.Partial("PlayerRankingTemplate", Model.playerRankingFrance)
        </div>
        <div class="row">
            @Html.Partial("TeamResultTemplate", Model.resultsEngland, new ViewDataDictionary {{"logo", "eng.jpg"}})
            @Html.Partial("TeamRankingTemplate", Model.teamRankingEngland)
            @Html.Partial("PlayerRankingTemplate", Model.playerRankingEngland)
        </div>
        <div class="row">
            @Html.Partial("TeamResultTemplate", Model.resultsSpain, new ViewDataDictionary {{"logo", "esp.jpg"}})
            @Html.Partial("TeamRankingTemplate", Model.teamRankingSpain)
            @Html.Partial("PlayerRankingTemplate", Model.playerRankingSpain)
        </div>
        <div class="row">
            @Html.Partial("TeamResultTemplate", Model.resultsItalia, new ViewDataDictionary {{"logo", "it.jpg"}})
            @Html.Partial("TeamRankingTemplate", Model.teamRankingItalia)
            @Html.Partial("PlayerRankingTemplate", Model.playerRankingItalia)
        </div>
        <div class="row">
            @Html.Partial("TeamResultTemplate", Model.resultsGermany, new ViewDataDictionary {{"logo", "ger.jpg"}})
            @Html.Partial("TeamRankingTemplate", Model.teamRankingGermany)
            @Html.Partial("PlayerRankingTemplate", Model.playerRankingGermany)
        </div>
    </div>
</body>
</html>