@model List<DataModel.Football.TeamResult>
<div class="col-md-5">
    <table class="table table-bordered">
        <tr>
            <th>Team</th>
            <th>Score</th>
            <th>Team</th>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@Html.Raw(@item.TeamName1)</td>
                <td class="score">@item.Score</td>
                <td>@Html.Raw(@item.TeamName2)</td>
            </tr>
        }
    </table>
    <img src="~/Content/Images/football/@ViewData["logo"]" alt="" class="logo" />
</div>